.card-container div:nth-child(1) {
  background-color: #39ac73;
}
.card-container div:nth-child(2) {
  background-color: #ff5050;
}
.card-container div:nth-child(3) {
  background-color: #39ac73;
}

/* flex on main container */
.card-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}
.card-one {
  width: 10rem;
  height: 5rem;
}
.card-two {
  width: 8rem;
  height: 6rem;
}
.card-three {
  width: 3rem;
  height: 12rem;
}
