body{
    background-image: url('./bg.jpg');
    background-size: cover;
    padding: 10px 20px;
    margin: 8px;
}
section header-section{
    text-align: center;
    padding-top: 90px;
}
main{
    display: grid;
    grid-template-columns: 50px 5fr 1fr;
    height: calc(100vh-20px);
}
main footer{
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: flex-end;
}